// Blob effect
@mixin blob-animation {
  transition: all 100ms ease-in-out;

  &.active {
    transform: scale(1.3);
  }
}

// Breakpoints
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}
