// Variables for default light-mode
//$bg-primary-light: #fdfdfd;
$bg-primary-light: #f8f9fa;
$bg-secondary-light: #e9ecef;
$color-primary-light: #0e141b;
$color-secondary-light: #17202b;

// Variables for dark-mode
$bg-primary-dark: #0e141b;
$bg-secondary-dark: #17202b;
//$color-primary-dark: #fdfdfd;
$color-primary-dark: #f8f9fa;
$color-secondary-dark: #e9ecef;

// Global variables
$font-bold: 700;
$action-color: #00c39a;
$error-color: #bd1e39;

// Breakpoints
$screen-lg-max: 992px;
$screen-md-max: 768px;
