@import "./abstracts/_mixins.scss";
@import "./abstracts/_variables.scss";
@import "./base/_reset.scss";
@import "./base/_typography.scss";
@import "./components/global/_moviesNotFound.scss";
@import "./components/layout/_themeSwitcher.scss";
@import "./components/moviesDetail/_backToHomepage.scss";
@import "./components/moviesDetail/_favoriteMovieButton.scss";
@import "./components/moviesDetail/_movieTable.scss";
@import "./components/moviesList/_movieRow";
@import "./components/moviesList/_moviesList.scss";
@import "./components/moviesList/_paginationBar.scss";
@import "./components/moviesList/_searchBar.scss";
@import "./layout/_header.scss";
@import "./layout/_main.scss";
@import "./pages/_detail.scss";
@import "./pages/_favorites.scss";
@import "./pages/_homepage.scss";
@import "./pages/_pageNotFound.scss";

::selection {
  background-color: $action-color;
  color: $color-primary-dark;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: $bg-primary-light;
  color: $color-primary-light;

  &.dark-mode {
    background-color: $bg-primary-dark;
    color: $color-primary-dark;

    a {
      color: $color-primary-dark;

      &:hover {
        color: $action-color;
      }
    }
  }
}

h3 {
  font-size: 1.1em;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.btn {
  background-color: $action-color;
  border: none;
  border-radius: 5px;
  color: $color-primary-dark;
  text-transform: uppercase;
  cursor: pointer;
  @include blob-animation;

  &:hover {
    opacity: 0.9;
  }
}

input:focus {
  outline: none;
}
