@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./base/reset";
@import "./base/typography";
@import "./components/global/moviesNotFound";
@import "./components/layout/themeSwitcher";
@import "./components/moviesDetail/backToHomepage";
@import "./components/moviesDetail/favoriteMovieButton";
@import "./components/moviesDetail/movieTable";
@import "./components/moviesList/movieRow";
@import "./components/moviesList/moviesList";
@import "./components/moviesList/paginationBar";
@import "./components/moviesList/searchBar";
@import "./layout/header";
@import "./layout/main";
@import "./pages/detail";
@import "./pages/favorites";
@import "./pages/homepage";
@import "./pages/pageNotFound";

::selection {
  background-color: $action-color;
  color: $color-primary-dark;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: $bg-primary-light;
  color: $color-primary-light;

  &.dark-mode {
    background-color: $bg-primary-dark;
    color: $color-primary-dark;

    a {
      color: $color-primary-dark;

      &:hover {
        color: $action-color;
      }
    }
  }
}

h3 {
  font-size: 1.1em;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.btn {
  background-color: $action-color;
  border: none;
  border-radius: 5px;
  color: $color-primary-dark;
  text-transform: uppercase;
  cursor: pointer;
  @include blob-animation;

  &:hover {
    opacity: 0.9;
  }
}

input:focus {
  outline: none;
}
